<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="../bootstrap/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="../bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="../bootstrap/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="../bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap-fileinput/css/fileinput.css">
    <script type="text/javascript" src="../bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="myForm">
    <div class="container-fluid">
        <div class="row myrow">
            <div class="col-md-2">
                <label for="name">商品名</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="col-md-2">
                <label for="price">商品价格</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="price" name="price">
            </div>
        </div>
        <div class="row myrow">
            <div class="col-md-2">
                <label for="statue">是否上架</label>
            </div>
            <div class="col-md-4">
                <input type="radio" name="statue" value="1">上架
                <input type="radio" name="statue" value="2">下架
            </div>
        </div>
    </div>
</form>
</body>
<script>
    $(function(){
        uploadImg();
        $('.date').datetimepicker({
            language: 'zh-CN',//显示中文
            //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
            format: 'yyyy-mm-dd',//显示格式
            minView: "month",//设置只显示到月份
            initialDate: new Date(),//初始化当前日期
            autoclose: true,//选中自动关闭
            todayBtn: true//显示今日按钮
        });
    })
</script>
</html>